<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>wstt4py</title>
  <meta name="description" content="Web Service Tutorial for python">
  <meta name="author" content="Jingun Jung">
  <link rel="stylesheet" href="{{url_for('static', filename='index.css')}}">
</head>
<body>
  <h1>Hello</h1>
  <h2 id="message">World!</h2>
  <p>{{ p_str }}</p>
  <ul>
  {% for x in p_lst %}
    <li>{{ x }}</li>
  {% endfor %}
  </ul>
  <p>{{ "name: %s age: %s" % (p_dic["name"], p_dic["age"]) }}</p>
  {% if p_bln %}
    <p>True</p>
  {% else %}
    <p>False</p>
  {% endif %}
  <script src="{{url_for('static', filename='index.js')}}"></script>
</body>
</html>

